@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}
.ellipsis-1{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ellipsis-2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
